
Quanlicaan/Quanlicaan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Quanlicaan/Quanlicaan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Quanlicaan/.vs/Quanlicaan/config/applicationhost.config
Quanlicaan/Quanlicaan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Quanlicaan/Quanlicaan/obj/Debug/Quanlicaan.csproj.AssemblyReference.cache
