
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TapThe</title>
</head>
<body>
    <div> 
        Đây là trang đăng kí ca ăn thập thể
    </div>
</body>
</html>
