
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Regist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--=====================================================================-->
    <link rel="stylesheet" href="~/css/regist.css">
</head>
<body>
    <div class="limiter">
        <div class="container-regist">
            <div class="wrap-regist">
                <form class="regist-form validate-form">
                    <span class="regist-form-title">
                        Đăng kí thông tin người dùng
                    </span>
                    <div class="wrap-input validate-input" data-validate="User's fullname is required">
                        <input class="input" type="text" name="fullname" placeholder="Tên đầy đủ">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input validate-input" data-validate="Username is required">
                        <input class="input" type="text" name="username" placeholder="Tên đăng nhập">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input validate-input" data-validate="Password is required">
                        <input class="input" type="password" name="pass" placeholder="Mật khẩu">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="select-department" data-validate="Department is required">
                        <select>
                            <option value="0">Chọn phòng ban</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <p>Quyền đăng kí</p>

                    <div class="checkbox" data-validate="Registration is required">
                        <label class="container-checkbox">
                            Cá nhân
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container-checkbox">
                            Tập thể
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <p>Phân quyền</p>

                    <div class="checkbox" data-validate="Role is required">
                        <label class="container-checkbox">
                            Admin
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container-checkbox">
                            User
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="container-login-form-btn">
                        <button class="login-form-btn">
                            Đăng kí
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>